body {
  background-color: #e9ecef; /* Fondo claro */
  color: #2a3b28; /* Texto oscuro */
}
.navbar {
  background-color: #3a5a40; /* Verde oscuro */
  color: #e9ecef;
}
.navbar-brand {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #e9ecef !important;
}
.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}
.form-container {
  max-width: 850px; /* Más ancho para evitar scroll */
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Margen interno reducido */
  border: 2px solid #74c69d; /* Verde claro */
}
.btn-primary {
  background-color: #74c69d; /* Verde claro */
  border: none;
}
.btn-primary:hover {
  background-color: #3a5a40; /* Verde oscuro */
}
.btn-secondary {
  background-color: #3a5a40;
  border: none;
  color: #e9ecef;
}
.btn-secondary:hover {
  background-color: #2a3b28;
}
.footer {
  text-align: center;
  margin-top: 10px;
  color: #2a3b28;
}